In [1]:
# ANS 1 WRITE A  PYTHON PROGRAM TO SUM OF THE FIRST n POSITIVE INTEGER
n = int(input())
s = 0
for i in range(1 , n+1):
    s += i
print(s)

8
36

In [5]:
# ANS 2 WRITE A  PYTHON PROGRAM TO COUNT OCCERRENCES OF A SUBSTRING IN A STRING 
str1 = input('enter the string')
sub_string = input('enter the substring')
ans1 = str1.count(sub_string)
print(ans1)

enter the string boni sachin boni preet preet sachin preet
enter the substring preet
3

In [7]:
# ANS 3 WRITE A PYTHON PROGRAM TO COUNT THE OCCURRENCES OF EACH WORD IN A GIVEN SENTENCE
str1 = input('enter the string')
str2 = str1.split()
a = []
for i in str2:
    ans1 = str1.count(i)
    a += [ans1]
print(a)

enter the string boni boni sachin sachin gurupreet
[2, 2, 2, 2, 1]

In [8]:
# ANS 4 WRITE A PYTHON PROGRAM TO GET A SINGLE STRING FROM TWO GIVEN STRING , SEPARATED BY A SPACE AND SWAP 
# THE FIRST TWO CHARACTER OF EACH STRING
v1 = 'raval'
v2 = 'boni'
v2[0:2]+v1[0:2]+' '+v2[2:4]+v1[2:5]

'bora nival'

In [2]:
# ANS 5 WRITE A PYTHON PROGRAM TO ADD 'ING' AT THE END OF GIVEN STRING(LENGTH SHOULD BE AT LEAST 3). IF THE GIVEN STRING 
# ALREADY ENDS WITH 'ING' THEN ADD 'LY' INSTEAD IF THE STRING LENGTH OF THE GIVEN STRING ID LESS THAN 3,LEAVE IT UNCHANGED.
a = input()
if len(a) >= 3:
    if a.endswith('ing'):
        print(a.replace('ing','ly'))
    else:
        print(a + 'ing')
else:
    print(a)

connectly
connectlying

In [3]:
# ANS 6 WRITE A PYTHON PROGRAM TO FIND THE FIRST APPEARANCE OF THE SUBSTRING 'NOT' AND 'POOR' FROM A GIVEN STRING.IF 'NOT'
# FOLLOWS THE 'POOR',REPLACE THE WHOLE 'NOT'...'POOR' SUBSTRING WITH 'GOOD'.
str1 = ' i am not poor person'
str1.replace('not poor','good')

' i am good person'

In [10]:
# ANS 7 PROGRAM TO FIND GCD OF TWO NUMBERS.
#FOR EXAMPLE , THE GCD OF 20 AND 28 IS 4 AND GCD OF 98 AND 56 IS 14 
def gcd(a,b):
    result = min(a,b)
    while result:
        if a % result == 0 and b % result == 0:
            break
        result -= 1
    return result 
a = 98
b = 56
print(f"GCD of {a} and {b} is {gcd(a,b)}")

GCD of 98 and 56 is 14

In [4]:
# ANS 8 WRITE A PYTHON PROGRAM TO CHECK WHETHER A LIST CONTAINS A SUB LIST
list1 = [['vikings'] , ['game of thrones'] , ['money heist'] , ['lord of the rings']]
list2 = ['game of thrones']
if list2 in list1:
    print('list is present')
else:
    print('list is not present')

list is present

In [8]:
# ANS 9 WRITE A PYTHON PROGRAM TO FIND A SECOND SMALLEST NUMBER IN A LIST
list3 = [ '10' , '30' , '20' , '40' , '60' , '50' ]
list3.sort()
print(list3[1])

20

In [10]:
# ANS 10 WRITE A PYTHON PROGRAM TO GET UNIQUE VALUE FROM A LIST
list4 = [0 , 11 ,2 , 0 , 3 , 5 , 6, 2]
d = set(list4)
print(d)

{0, 2, 3, 5, 6, 11}

In [15]:
# ANS 11 WRITE A PYTHON PROGRAM TO UNZIP A LIST OF TUPLES INTO INDIVIDUAL LISTS
p = zip([10,30,50,70] , [20,40,60,80])
list(p)

[(10, 20), (30, 40), (50, 60), (70, 80)]

In [17]:
# ANS 12 WRITE A PYTHON PROGRAM TO CONVERT LIST OF TUPLES INTO A DICTIONARY
list0 = [(1,2) ,(3,4) ,(4,5)]
dict(list0)

{1: 2, 3: 4, 4: 5}

In [19]:
# ANS 13 WRITE A PYTHON PROGRAM TO SORT A DICTIONARY (ASCENDING/DESCENDING) BY VALUE
dict10 = { 'yash' : 12 , 'sagar' : 23 , 'parth' : 1 }
dict11 = dict12 = list(dict10.items())
dict11.sort()
print('ascending=' ,dict(dict11))
dict12.sort(reverse = True)
print('descending=' ,dict(dict12))

ascending= {'parth': 1, 'sagar': 23, 'yash': 12}
descending= {'yash': 12, 'sagar': 23, 'parth': 1}

In [59]:
# ANS 14 WRITE A PYTHON PROGRAM TO FIND THR HIGHEST 3 VALUES IN A DICTIONARY
dict1 = {'a' : 10 ,'b' : 20, 'c' : 30, 'd' : 40}
a = list(dict1.values())
a.sort(reverse=True)
a.pop()
print(a)

[40, 30, 20]

In [3]:
# ANS 15 GIVEN A NUMBER N, WRITE A PYTHON PROGRAM TO MAKE AND PRINT A LIST OF FIBONACCI SERIES UP TO N.
# INPUT:8
# HINT: FIRST SEVEN NUMBER IN SERIES
num = int(input())
var1 = 0
var2 = 1
for i in range(num):
    print(var1,end=' ')
    var1,var2=var2,var1+var2

8
0 1 1 2 3 5 8 13

In [3]:
# ANS 16 COUNTING THE FREQUENCIES IN A LIST USING A DICTIONARY IN PYTHON.
# INPUT: [1,1,1,5,5,3,1,3,3,1,4,4,4,2,2,2,2]
# EXPECTED OUTPUT: 1:5 , 2:4 , 3:3 , 4:3 , 5:2
mylist = [1,1,1,5,5,3,1,3,3,1,4,4,4,2,2,2,2]
mydict = {}
for element in mylist:
    if element in mydict:
        mydict[element] += 1
    else:
        mydict[element] = 1
print(mydict)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [11]:
# ANS 17 PYTHON PROGRAM TO FIND FACTORIAL OF NUMBER USING RECURSION
def fun1(num1):
    if num1 == 1:
        return 1
    else:
        return num1 *fun1(num1-1)
fun1(4)

24

In [13]:
# ANS 18 WRITE A PYTHON FUNCTION THAT TAKES A LIST AND RETURN A NEW LIST WITH UNIQUE ELEMENTS OF THE FIRST LIST.
def unique_list(list00):
    list11 = []
    for a in list00:
        if a not in list11:
            list11.append(a)
    return list11
print(unique_list([1 , 2 , 3 , 3 , 3 , 3 , 4 , 5 ]))

[1, 2, 3, 4, 5]