In [ ]:
# ANS 1 What is list? How will you reverse a list.
# list is one of the data type in python.list is used to store multiple items in a single variable.
# it is be denoted by square bracket[].
# list can be reversed by using the method called ".reverse()"

In [ ]:
# ANS 2 how will you remove last object from a list?
# last object from the list can be removed by using ".pop()" method.

In [1]:
# ANS 3 What is list[-1]
list1 = [2,33,222,14,25]
list1[-1]

25

In [ ]:
# ANS 4 Diffrence between .append() and .extend() method
# append() method adds an element as 1 element while extend method can only add iterables as an individuals

In [ ]:
# ANS 5 Write a python function to get a the largest number ,smallest num and sum of all from a list

In [2]:
# ANS 6 How will you compare two list?
list2 = [12,23,34,45,56]
list3 = [67,56,34,23,99]
list2.sort()
list3.sort()
if list2 == list3:
    print(' both list are same')
else:
    print('both list are different')

both list are different

In [3]:
# ANS 7 Write a python program to count the number of strings where the string length is 2 or more and the first 
# and last character are same from a given list of string
list5 = ['abc' , 'xyz' , 'aba' , '1221']
len([ele for ele in list5 if (len(ele) >= 2 and ele[-1] == ele [0])])

2

In [4]:
# ANS 8 Write a python program to remove duplicate from a list
list2 = [{12,23,33,33,34,3,33,67}]
print(list2)

[{33, 34, 67, 3, 23, 12}]

In [5]:
# ANS 9 Write a python program to check a list is empty or not
list3 = []
if (len(list3) == 0):
    print('list is empty')
else:
    print('list has an element')

list is empty

In [ ]:
# ANS 10 Write a python function that takes two list and return true if they have atleast one common value

In [6]:
# ANS 11 Write a python program to generate and print a list of first and last 5 elements where the values are square 
# of numbers between 1 to 30.
list5 = []
for i in range(1,31):
    if (i<5 or (i>25 and i<=30)):
        list5.append(i*i)
print(list5)

[1, 4, 9, 16, 676, 729, 784, 841, 900]

In [7]:
# ANS 12 Write a python function that takes a list and return a new list with unique element of the first list
list12 = [12 , 12, 3 , 4, 5 , 6, 34 , 34]
d = set(list12)
print(d)

{34, 3, 4, 5, 6, 12}

In [3]:
#ANS 13 Write a python program to convert a list of character into a string
list00 = ['a' , 'b' , 'c' , 'd' , 'e']
str = ''
for i in list00:
    str += i
print(str)

abcde

In [5]:
#ANS 14 Write a python program to select an item randomly from a list

In [8]:
#ANS 15 Write  a python program to find a second smallest no.in list
list1 = [ 34,45,77,46,47,33,12,99]
list1.sort()
print(list1[1])

33

In [9]:
#ANS 16 Write a python program to get uniqe value from list
list15 = [12 , 12, 3 , 4, 5 , 6, 34 , 34]
s = set(list12)
print(s)

{34, 3, 4, 5, 6, 12}

In [10]:
#ANS 17 Write a python program to check whether a list contains a sub list
list33 = [[11,22,33] , [1,2,3], [23,45,54]]
sublist = [1,2,3]
if sublist in list33:
    print('list is present')
else:
    print('list is not present')

list is present

In [11]:
#ANS 18 Write a python progran to split a list into different variables
a, b , c , d = ['10' , '20' , '30' , '40']
print(a)

10

In [ ]:
#ANS 19 What is tuple,diff.tuple and list
# Tuple is a Immutable,Ordered,and Indexed data type.
# Tuple data type allows duplicate elements also.
# In tuple data type we can use all data type as a element.
# DIFFERENCE: Tuple:it is Immutable data type , so can not change any element.
#             list :it is Mutable data type ,so possible to change a list as per required.

In [12]:
#ANS 20 Write a python program to create  a tuple with diff. data type
tup1 = ( 1 , 'hello' , 1.2 , True , (1,2,3) , [7,8,9] , {4,5,6} , {12:23,23:44})

In [13]:
#ANS 21 Write a pytho program to create a tuple with number
tup2 = '10','20','30','40','50'
print(tup2)

('10', '20', '30', '40', '50')

In [14]:
#ANS 22 Write a python program to convert tuple to a string
tup3 = ('hello' , 'hii' , 'how' )
s1 = ''
for i in tup3:
    s1 += i
print(s1)

hellohiihow

In [15]:
#ANS 23 Write a python program to check whether a element exists in a tuple
tup4 = ()
if len(tup4) != 0:
    print('element exists in a tuple')
else:
    print('tuple is empty')

tuple is empty

In [16]:
#ANS 24 Write a python program to find the length of tuple
tup5 = ( 1 , 'hello' , 1.2 , True , (1,2,3) , [7,8,9] , {4,5,6} , {12:23,23:44})
len(tup5)

8

In [17]:
#ANS 25 Write a python program to convert list to a tuple
list66 = [11,23,[55,66],'hmmm']
k = tuple(list66)
print(k)

(11, 23, [55, 66], 'hmmm')

In [18]:
#ANS 26 Write a python program to reverse a tuple 
tup7 = (10,20,30,40,50,60)
b = tup7[::-1]
print(b)

(60, 50, 40, 30, 20, 10)

In [19]:
#ANS 27 Write a python program to replace last value of tuple in a list
tup11 = (12,23,33,44,55,60)
a = list(tup11)
a.pop(-1)
a.append('how')
print(a)

[12, 23, 33, 44, 55, 'how']

In [20]:
#ANS 28 Write a python program to find the repeated items of a tuple
tup5 = ( 5,6,7,5,6,33,55,99)
list34 = []
for i in tup5:
    if tup5.count(i) > 1:
        if i not in list34:
            list34.append(i)
print(list34)

[5, 6]

In [21]:
#ANS 29 Write python program to remove a empty tuple(s) from a list of tuple
list22 = [() ,'1', '22', '34' , 'form']
n = list22.remove(())
print(list22)

['1', '22', '34', 'form']

In [ ]:
#ANS 30 Write a python program to unzip a list of tuples into individual lists

In [22]:
#ANS 31 Write a python program to convert a list of tuples into a dictionary
tup0 = ([45,'hmm'],[56,'dmmm'])
dict(tup0)

{45: 'hmm', 56: 'dmmm'}

In [1]:
#ANS 32 How will you create dictionary using tuple in python
tup9 = ((5 ,'hmm') , (6 ,'joker') , (7 , 'new'))
print(dict(tup9))

{5: 'hmm', 6: 'joker', 7: 'new'}

In [8]:
#ANS 33 Write a python script to sort(ascending and descending) a dictionary by value
dict10 = { 'yash' : 12 , 'sagar' : 23 , 'parth' : 1 }
dict11 = dict12 = list(dict10.items())
dict11.sort()
print('ascending=' ,dict(dict11))
dict12.sort(reverse = True)
print('descending=' ,dict(dict12))

ascending= {'parth': 1, 'sagar': 23, 'yash': 12}
descending= {'yash': 12, 'sagar': 23, 'parth': 1}

In [23]:
#ANS 34 Write a python script to concatenate following dictionary to create a new one
dict1 = {1:2,2:3}
dict2 = {4:5,6:7}
dict1.update(dict2)
print(dict1)

{1: 2, 2: 3, 4: 5, 6: 7}

In [2]:
#ANS 35 Write a python script to check if a given key already exists in a dictionary
dict0 = {'1':'sachin' , '2':'boni', '3':'preet','4':'hello'}
key = input()
if key in dict0:
    print('key is exist')
else:
    print('key is not exist')

4
key is exist

In [4]:
#ANS 36 Write a python script to merge two python dictionaries
dict1 = {1:2,2:3}
dict2 = {4:5,6:7}
dict1.update(dict2)
print(dict1)

{1: 2, 2: 3, 4: 5, 6: 7}

In [5]:
#ANS 37 Write a python program to map two lists into a dictionary